# Exercise 1
## Practice code
python

In [ ]:
x=5
print(x)

In [2]:
?print

In [3]:
import sys
print (sys.version)

3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)]

In [4]:
num1 = 10
print(num1)

10

print(5**2)

In [5]:
x = 40**20

In [6]:
print(x)

109951162777600000000000000000000

In [7]:
print(7/3)

2.3333333333333335

In [8]:
print(7%3)

1

In [9]:
print(1209%3)

0

In [10]:
x = 1209
y = 1209 % 3
if y == 0 :
    print(x,'is divisible by 3')
else :
    print(x, 'is not divisible by 3')

1209 is divisible by 3

In [2]:
s = 'Python for Data Science'
print(s[0:6])

Python

In [12]:
print(s[11:15])

Data

In [13]:
print(s[0:])

Python for Data Science

In [14]:
#Slicing

print(s[:4])

Pyth

In [15]:
print(s[:-7])

Python for Data

In [16]:
print(s[-7:])

Science

In [3]:
#String Operations

num1 = 10
print(str(num1))

s = 'This statement contains 42 characters'
print(s.upper())

10
THIS STATEMENT CONTAINS 42 CHARACTERS

In [18]:
print(s.lower())
print(s.count('a'))

this statement contains 42 characters
4

In [19]:
print(s.find('i'))

2

In [20]:
#for start position
print(s.find('i', 10))

20

In [21]:
#for start and end position
print(s.find(i, 10, 20))

NameError: name 'i' is not defined

In [23]:
print(s.find('i', 10, 21))

20

In [4]:
s1 = s.replace('i', '0')
print(s1)

Th0s statement conta0ns 42 characters

In [5]:
s[3] = 'e'

TypeError: 'str' object does not support item assignment

In [6]:
print(s.replace('i', '0'))

Th0s statement conta0ns 42 characters

In [7]:
s.replace('i', '0')
print(s)

This statement contains 42 characters

In [1]:
#datetime

import datetime
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [2]:
dir(datetime.datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [3]:
print(datetime.datetime.now())

2019-04-04 10:05:26.757083

In [5]:
#To extract date

print(datetime.datetime.today().date())

2019-04-04

In [6]:
#To extract time

print(datetime.datetime.today().time())

10:07:05.332237

In [8]:
#To extract year

print(datetime.datetime.today().year)

2019

In [22]:
#to extract month

print(datetime.datetime.today().month)

#month in string
print(datetime.datetime.today().strftime('%B'))

#week number of year
print(datetime.datetime.today().strftime('%W'))

#week day of week
print(datetime.datetime.today().strftime('%w'))

#day of the year (out of 365)
print(datetime.datetime.today().strftime('%j'))

#day of the month
print('day of the month :',datetime.datetime.today().strftime('%d'))

#day of the Week(in string)
print('day of the Week :', datetime.datetime.today().strftime('%A'))

4
April
13
4
094
day of the month : 04
day of the Week : Thursday

In [1]:
#Asking user for the input

s = input('Enter your name : ') 
#always a string is taken as input via user

print('Your name is ', s)

Enter your name : Shraddha
Your name is  Shraddha

In [5]:
#Take number from user and increment by 5

num = input('Enter a number : ')
num = int(num)
print('Answer : ', num+5)

Enter a number : 10
Answer :  15

In [11]:
#Print welcome message after taking input from user

name = input('Enter your name : ')
print('Welcome,', name, '!')

Enter your name : shraddha
Welcome, shraddha !

In [24]:
#input no. of hours and rate/hour to compute gross pay
#ALso check if given input is number or not

hour = input('Enter number of hours :')
rate = input('Enter rate/hour : ')
if hour.isdigit() == False or rate.isdigit() == False :
    print('Warning - Enter only numbers!!')
else :
    print ('Gross pay(Rs.) : ', int(hour)*int(rate))

Enter number of hours :345
Enter rate/hour : 34
Gross pay(Rs.) :  11730

In [25]:
#Multiple line comments - select the bloak and ctrl+/

# dfkghkjdf
# dsfhgd
# sdfgks
# sdfghtak

In [27]:
#Conditional Execution

#Boolean

#x is y  ======  x==y

#Logical - and. or, not

In [31]:
#Find greater number

num1 = input('Enter number 1 : ')
num2 = input('Enter number 2 : ')

num1 = int(num1)
num2 = int(num2)

if num1 > num2 :
    print(num1, 'is greater than', num2)
elif num1 < num2 :
    print(num2, 'is greater than', num1)    
else :
    print(num1, 'is equal to', num2)

Enter number 1 : 3
Enter number 2 : 4
4 is greater than 3

In [33]:
#Variation 2

#Find greater number

num1 = input('Enter number 1 : ')
num2 = input('Enter number 2 : ')

num1 = int(num1)
num2 = int(num2)

if num1 > num2 :
    print(num1, 'is greater than', num2)
else:
    if num1 < num2 :
        print(num2, 'is greater than', num1)    
    else :
        print(num1, 'is equal to', num2)

Enter number 1 : 3
Enter number 2 : 4
4 is greater than 3

In [42]:
#Write a program to print a grade

score = input('Enter score : ')
score = float(score)

if score >= 0.9 and score <=1 :
    print('Grade : A')
elif score >= 0.8 and score < 0.9 :
    print('Grade : B')
elif score >= 0.7 and score < 0.8 :
    print('Grade : C')
elif score >= 0.6 and score < 0.7:
    print('Grade : D')
elif score < 0.6 and score >= 0.0 :
    print('Grade : F')
else :
    print('Invalid input for score')

Enter score : 5
Invalid input for score

In [44]:
#try except block

num = input('Enter a numer : ')

try :
    num = int(num)
    print(num + 5)
except :
    print('WARNING - Print only numbers!!')

Enter a numer : dfg
WARNING - Print only numbers!!

In [54]:
#try except Example 2

num = input('Enter a number : ')
try :
    num = int(num)
    rem = 100 / num
except ZeroDivisionError :
    print('Number cannot be divided by 0')
except Exception :
    print('Enter only numbers')
#elseis optional
else :
    print(rem)

Enter a number : dfd
Enter only numbers

In [56]:
#Write a program to convert Fah to Celsius

tempInFah = input('Enter temperature in Fahrenheit : ')

try :
    tempInFah = float(tempInFah)
    tempInCelsius = ( tempInFah - 32 ) * ( 5 / 9 )
except :
    print('Please enter only digits')
else :
    print('Temperature : ', tempInCelsius)

Enter temperature in Fahrenheit : df
Please enter only digits

In [ ]:
# Write a code to print name in reverse order

# firstname = input('Enter first name :')
# lastname = input('Enter last name :')

#alternate
firstname, lastname = input('Enter your firstname, lastname :').split(',')

print('Name :', lastname + ' ' + firstname)
print('NAme :', lastname, firstname)


number = input('Enter a number(1-7) : ')

if number == 1 :

In [ ]:
#write a program to print color of rainbow

number = input('Enter a number(0-7) : ')
number = int(number)
if number == 1 :
    print('Violet')
elif number == 2 :
    print('Indigo')
elif number == 3 :
    print('Blue')
elif number == 4 :
    print('Green')
elif number == 5 :
    print('Yellow')
elif number == 6 :
    print('Orange')
elif number == 7 :
    print('Red')
else :
    print('Number out of range')

In [ ]:
#write a program to print color of rainbow

number = input('Enter a number(0-7) : ')
number = int(number)
if number == 1 :
    print('Violet')
elif number == 2 :
    print('Indigo')
elif number == 3 :
    print('Blue')
elif number == 4 :
    print('Green')
elif number == 5 :
    print('Yellow')
elif number == 6 :
    print('Orange')
elif number == 7 :
    print('Red')
else :
    print('Number out of range')

In [6]:
#write a program to print color of rainbow

num = input('Enter a number : ')
try:
    num = int(num)
    if num == 1 :
        print('Violet')
    elif num == 2 :
        print('Indigo')
    elif num == 3 :
        print('Blue')
    elif num == 4 :
        print('Green')
    elif num == 5 :
        print('Yellow')
    elif num == 6 :
        print('Orange')
    elif num == 7 :
        print('Red')
    else :
        print('Number out of range')
except :
    print('Please enter valid input.')

IndentationError: unexpected indent (<ipython-input-6-23ad75068b79>, line 5)

In [10]:
#Write a program to check if number is even or odd

num = input('Enter a number : ')
try:
    num = int(num)
    if num % 2 == 0 :
        print(num, 'is an even number')
    else :
        print(num, 'is an odd number')
except :
    print('Please enter valid input.')

Enter a number : 56
56 is an even number

In [20]:
#Write a program to check if enter char is vowel or not
letter = input('Enter a letter : ')
if len(letter) == 1 and letter.isdigit() == False :
    letter1 = letter.lower()
    if letter1 == 'a' or letter1 == 'e' or letter1 == 'i' or letter1 == 'o' or letter1 == 'u' :
    #alternate way - if leter1 in ['a','e','i','o','u']
        print(letter, 'is a vowel')
    else :
        print(letter, 'is not a vowel')
else :
    print('Please enter valid input')

Enter a letter : e
e is a vowel

In [24]:
#Alternate way to write an if loop

#Write a program to check if enter char is vowel or not
letter = input('Enter a letter : ')
if len(letter) == 1 and letter.isdigit() == False :
    letter1 = letter.lower()
    if letter1 in ['a','e','i','o','u'] :
        print(letter, 'is a vowel')
    else :
        print(letter, 'is not a vowel')
else :
    print('Please enter valid input')

Enter a letter : df
Please enter valid input

In [30]:
#5. Importing calendar library

import calendar

month = input('Enter month : ')
year = input('Enter year : ')

try :
    month = int(month)
    year = int(year)
    print('CALENDAR')
    print(calendar.month(year, month))
except :
    print('Enter numbers only')

Enter month : 8
Enter year : 2014
CALENDAR
    August 2014
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [36]:
# 6.Write a program to compute n+nn+nnn

number = input('Enter a number : ')

try :
    num1 = int(number)
    if 0 <= num1 <= 9 :
        sum = int(number) + int(number+number) + int(number+number+number)
        print('Sum of', number,'+',number+number, '+', number+number+number, ':', sum)
    
    else :
        print('Enter a single digit number')
except :
    print('Enter valid input')

Enter a number : 8
Sum of 8 + 88 + 888 : 984

In [23]:
#7. Caculate area of circle

radius = input('Enter radius of circle :')
try :
    area = 3.14 * ( int(radius) ** 2 )
    print('Area of circle :', area)
except :
    print('Enter only integers!')

Enter radius of circle :sdf
Enter only integers!

In [11]:
# 8.Write a code to return true on given conditions

number1 = input('Enter number 1 : ')
number2 = input('Enter number 2 : ')

try:
    number1 = int(number1)
    number2 = int(number2)
    if ( ((number1-number2) or (number2-number1)) == 5 )or number1 == number2:
        print('True')
    else :
        print('False')
except:
    print('Enter only integers')

Enter number 1 : er
Enter number 2 : er
Enter only integers

In [15]:
#9. Compute rate of interest

principal = input('Enter principal amount : ')
rate = input('Enter rate of interest() : ')
time = input('Enter time in years :')

try :
    interest = ( int(principal) * int(rate) * int(time) ) / 100
    print('Interest amount:', interest)
    print('Total amount :', int(principal) + interest )
except :
    print('Enter only integers!')

Enter principal amount : 50000
Enter rate of interest() : 6
Enter time in years :5
Interest amount: 15000.0
Total amount : 65000.0

In [44]:
# 10. String slicing

string = input('Enter a string : ')
if len(string) >= 2 :
    print('Output : ', string[0:2]+string[-2:])
else : 
    print('Empty String')

Enter a string : 45
Output :  4545

In [47]:
# 12. String manipulation. length greater than 3. add 'ing' or add 'ly'

string = input('Enter a string : ')
if len(string) >= 3 :
    if string[-3:] == 'ing' :
        print(string + 'ly')
    else :
        print(string + 'ing')
else :
    print('Enter a string having greater than 3 characters')

Enter a string : sdf
sdfing

In [20]:
# 13/14. count occurence of word happy

s = 'I felt happy because I saw the others were happy and because I knew I should feel happy, but I wasn\'t really happy'

print('Count :', s.count('happy'))
print(s.replace('happy', 'sad'))

Count : 4
I felt sad because I saw the others were sad and because I knew I should feel sad, but I wasn't really sad

In [21]:
#15.
import datetime
print(datetime.datetime.today().date() - datetime.timedelta(5))

2019-04-02

                                      # Lecture 3 - 08/04/2019

In [8]:
x = 4
y = 6
z = x*y
print('The product of %d and %d is %d' %(x, y, z))

print('The product of {0} and {1} is {2}'.format(x, y, z))

print('A', 'B', 'C', 'D')

print('A', 'B', 'C', 'D', sep='-', end='$') #to end with $

print('A', 'B', 'C', 'D', sep='-', end='') #to start with the same line


# {0:b} - convert number to binary form  - TODO

The product of 4 and 6 is 24
The product of 4 and 6 is 24
A B C D
A-B-C-D$A-B-C-D

# Logical Operators

NOT, AND, OR

Try Catch - Exception handling

# Functions and Iterations

TO DO 

- type conversion
- random numbers

In [58]:
#Random numbers

import random

print(random.randint(10, 56))

#print(random.seed(10)) #for this seed value, it'll be same

print(random.random()) #returns value in range [0.0, 1.0)

# help(random)

print(random.choice(['A', 'B', 1, 4, 'D', 5])) #choses out of the choice given

print(random.sample(range(1, 80), 10)) #pick 10 in range given. 
# in range, 1 is inclusive, 80 is exclusive

print(range(10)) #if no start value is provided, it'll be considered as 0

29
0.8179828644296319
5
[10, 69, 11, 20, 50, 73, 48, 76, 15, 13]
range(0, 10)

# Math Functions

Will always return a float value irrespective of whatever value given

In [63]:
import math as m  #alias

print(math.ceil(2.3))

print(math.floor(2.3))

print(m.fabs(3))

3
2
3.0

# Adding New Functions

- defined with keyword def
- function that returns a value called Fruitful function
- function that doesn't return anything called void functions
- when we pass values, they are called arguments
- in definition, the values are called parameters

In [68]:
def addTwo(a, b) :
    return a+b

num1 = int(input('Enter first number : '))
num2 = int(input('Enter second number : '))
result = addTwo(num1, num2)
print('Sum is', result)

Enter first number : 56
Enter second number : 4
Sum is 60

Practice codes

In [73]:
# Average of two numbers

def avg(num1, num2) :
    return (num1+num2)//2

# // - used for integer division


num1 = int(input('Enter first number : '))
num2 = int(input('Enter second number : '))
result = avg(num1, num2)
print('Average is', result)
print('Avg of %d and %d is %d' %(num1, num2, result))

Enter first number : 60
Enter second number : 30
Average is 45
Avg of 60 and 30 is 45

In [75]:
#Find square of sum of numbers

def squareOfSum(num1, num2) :
    return (num1+num2)**2

# // - used for integer division


num1 = int(input('Enter first number : '))
num2 = int(input('Enter second number : '))
result = squareOfSum(num1, num2)

print('Square of sum of %d and %d is %d' %(num1, num2, result))

Enter first number : 10
Enter second number : 20
Square of sum of 10 and 20 is 900

In [80]:
#Find max of 3 numbers

def maxOfThree(num1, num2, num3) :
    if num1 >= num2 and num1 >= num3 :
        return num1
    elif num2 >= num1 and num2 >= num3 :
        return num2
    elif num3 >= num1 and num3 >= num2 :
        return num3
    else :
        return 0

# // - used for integer division


num1 = int(input('Enter first number : '))
num2 = int(input('Enter second number : '))
num3 = int(input('Enter third number : '))

result = maxOfThree(num1, num2, num3)
print('Maximum number : ', result)

Enter first number : 6
Enter second number : 5
Enter third number : 6
Maximum number :  6

In [87]:
#Check whether number is between 50 and 100

def checkRange(num1) :
    if num1 in range(50,101) :
        return 1
    else :
        return 0
    

number = int(input('Enter a number : '))
result = checkRange(number)
if result == 1 :
    print('%d is a valid number' %(number))
else :
    print('%d is not a valid number' %(number))

Enter a number : 12
12 is not a valid number

# Iterations

In [96]:
#while loop

#while could be used with 'else'
#with break, while comes out of while loop, else wouldnt be executed


n = 10
while n > 0 :
    print(n, end=' ')
    n = n-1
print('Done')

10 9 8 7 6 5 4 3 2 1 Done

In [98]:
n = 10

while n > 0 :
    if n == 6 :
        break #breaks the loop
    n = n - 1
    print(n, end='')

9876

In [103]:
#Print n if it is 6

#continue - will break the flow and continue execution from the loop

n = 10
while n > 0 :
    if n == 6 :
        n = n-1
        continue
    else :
        n = n-1
    print(n, end = " ")
print('Done')

9 8 7 6 4 3 2 1 0 Done

In [112]:
#For loop

for n in range(10) :
    print(n, end = ' ')
  
print('\n')
for n in range(1,10) :
    print(n, end = ' ')
print('\n')   
for n in range(1,10, 2) :
    print(n, end = ' ')
    
print('\n')
for n in range(10, 1, -1) :
    print(n, end = ' ')

0 1 2 3 4 5 6 7 8 9

1 2 3 4 5 6 7 8 9

1 3 5 7 9

10 9 8 7 6 5 4 3 2

In [116]:
#practice code - to check multiple of 3 AND5

for i in range(1,51) :
    if i%3 == 0 and i%5 == 0 :
        print(i, 'ThreezFiveez')
    elif i%5 == 0 :
        print(i, 'Fiveez')
    elif i%3 == 0 :
        print(i, 'Threez')

3 Threez
5 Fiveez
6 Threez
9 Threez
10 Fiveez
12 Threez
15 ThreezFiveez
18 Threez
20 Fiveez
21 Threez
24 Threez
25 Fiveez
27 Threez
30 ThreezFiveez
33 Threez
35 Fiveez
36 Threez
39 Threez
40 Fiveez
42 Threez
45 ThreezFiveez
48 Threez
50 Fiveez

In [120]:
# 2. Input : number. Find square till the number

num1 = int(input('Enter a  number : '))

for i in range(1,num1+1) :
    print('-%d squared is %d' %(i, i**2))

Enter a  number : 5
-1 squared is 1
-2 squared is 4
-3 squared is 9
-4 squared is 16
-5 squared is 25

In [129]:
#Find fctorial of a number

num1 = int(input('Enter a number : '))
result = 1
while num1 > 0 :
    result = result * num1
    num1 = num1 - 1
    
print('Factorial : %d' %(result))

#using for loop
#for i in range(num, 1, -1)

Enter a number : 4
Factorial : 24

In [132]:
# Factorial using recursive funtion

def factorial(num) :
    if num == 1 :
        return 1
    else :
        return num*factorial(num-1)

num1 = int(input('Enter a number : '))
result = factorial(num1)
print('Factorial of %d is %d' %(num1, result))

for i in range(num1,1,-1) :
    result = result*factorial(i)

Enter a number : 45
Factorial of 45 is 119622220865480194561963161495657715064383733760000000000

# Practice Code  11/04/2019

In [3]:
#print similar output

for i in range(1,100):
    print(i,'------',100-i)

1 ------ 99
2 ------ 98
3 ------ 97
4 ------ 96
5 ------ 95
6 ------ 94
7 ------ 93
8 ------ 92
9 ------ 91
10 ------ 90
11 ------ 89
12 ------ 88
13 ------ 87
14 ------ 86
15 ------ 85
16 ------ 84
17 ------ 83
18 ------ 82
19 ------ 81
20 ------ 80
21 ------ 79
22 ------ 78
23 ------ 77
24 ------ 76
25 ------ 75
26 ------ 74
27 ------ 73
28 ------ 72
29 ------ 71
30 ------ 70
31 ------ 69
32 ------ 68
33 ------ 67
34 ------ 66
35 ------ 65
36 ------ 64
37 ------ 63
38 ------ 62
39 ------ 61
40 ------ 60
41 ------ 59
42 ------ 58
43 ------ 57
44 ------ 56
45 ------ 55
46 ------ 54
47 ------ 53
48 ------ 52
49 ------ 51
50 ------ 50
51 ------ 49
52 ------ 48
53 ------ 47
54 ------ 46
55 ------ 45
56 ------ 44
57 ------ 43
58 ------ 42
59 ------ 41
60 ------ 40
61 ------ 39
62 ------ 38
63 ------ 37
64 ------ 36
65 ------ 35
66 ------ 34
67 ------ 33
68 ------ 32
69 ------ 31
70 ------ 30
71 ------ 29
72 ------ 28
73 ------ 27
74 ------ 26
75 ------ 25
76 ------ 24
77 ------ 23
78 ------ 22
79 ------ 21
80 ------ 20
81 ------ 19
82 ------ 18
83 ------ 17
84 ------ 16
85 ------ 15
86 ------ 14
87 ------ 13
88 ------ 12
89 ------ 11
90 ------ 10
91 ------ 9
92 ------ 8
93 ------ 7
94 ------ 6
95 ------ 5
96 ------ 4
97 ------ 3
98 ------ 2
99 ------ 1

In [5]:
#Check divisibility by 5 and 7 between 1500 and 2500

for i in range(1500,2501):
    if i%5 == 0 and i%7 == 0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485

In [9]:
#using function Reverse the string

def reverse(string):
    l = len(string)
    for i in range(l-1, -1, -1):
        print(string[i], end='')
    

str1 = input('Enter a string : ')
print(reverse(str1))
print(str1[-1::-1])

Enter a string : for
rofNone
rof

In [15]:
#4. Print the pattern

# *
# **
# ***
# ****
# *****
# ****
# ***
# **
# *


for i in range(5):
    for j in range(i):
        print('*', end='')
    print('*')
for i in range(5,-1,-1):
    for j in range(i):
        print('*', end='')
    print('*')
    
# Check this code 
#for j in range(5,0):
#     print('*'*j)

*
**
***
****
*****
******
*****
****
***
**
*

In [12]:
#Function to print all even 

def printEven(n1, n2):
    if(n2>n1) :
        for i in range(n1, n2+1):
            if(i%2 == 0):
                print(i, end=' ')
    else:
        print('Second number has to greater than first number!')
            
number1 = int(input('Enter 1st number :'))
number2 = int(input('Enter 2nd number :'))
printEven(number1, number2)

Enter 1st number :12
Enter 2nd number :89
12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88

In [16]:
'hello world'

'hello world'

# String Manipulation

- strings are immutable

In [20]:
s = 'Python for Data Science'
s1 = 'Statistics ' + s[7:]
print(s1)

Statistics for Data Science

In [25]:
#Input string and character to be searched and give the count

def countChar(string, char):
    count = string.count(char)
    return count
    
string = input('Enter string : ')
char = input('Enter search character :')
print('%s appears %d times in %s' %(char, countChar(string,char), string))

Enter string : tissues
Enter search character :s
s appears 3 times in tissues

In operator in string

In [27]:
if 'S' in 'TISSUES':
    print('Exists')
else:
    print('Does not exist')

Exists

# String Methods
    - lower() 
    - upper()
    - capatilaize - first letter
    - title - first letter of all words capital
    - find() - returns first index
    - strip() - removes all the spaces

In [33]:
string = 'python for data science'

s.capitalize()

s.title()

#will return first occurence of index
s.find('o')

print(s.find('o',4,10))

s.strip()

4

'Python for Data Science'

In [35]:
s.strip()
s.lstrip()
s.rstrip()

'Python for Data Science'

In [37]:
#to check startts with
s.startswith('Py')

True

In [43]:
string = ' python for data science   '

string.strip()

'python for data science'

In [39]:
string.strip().startswith('py')

True

In [46]:
# Parsing strings

string = 'From stephen.marquard@uct.ac.za Sat Jan 5'

index1 = string.find('@')
index2 = string.find(' ', index1)
print(string[index1+1:index2])

uct.ac.za

In [48]:
# %d - integers
# %g - float
# %s - string
print('Company has declared %d-%d%% hike in salary for %d employees who are just %g%% of Employees' %(3,4,400,0.01))

Company has declared 3-4% hike in salary for 400 employees who are just 0.01% of Employees

In [50]:
#1.

string = 'X-DSPAM-Confidence:0.8475'
print(string[string.find(':')+1:])

0.8475

In [57]:
#2.

resultString = "{"
string = input('Enter string : ')

for c in string :
    if c not in resultString :
        cnt = string.count(c)
        resultString += "'" + c + "':" + str(cnt) + ","
        
print(resultString[0:-1] + '}')
#print("{'g':%d, 'o':%d, 'l':%d, 'e':%d, '.':%d, 'c':%d, ''")

Enter string : nick
{'n':1,'i':1,'c':1,'k':1}

In [58]:
#3. remove characters having odd index values

string = input('Enter a string : ')
print(string[0::2])

Enter a string : google.com
gol.o

In [60]:
string = input('Enter a string : ')
if string == string[::-1]:
    print("It is a palindrome")
else :
    print('It is not a palindrome')

Enter a string : madam
It is a palindrome

# File Handling

- File could be opened in read 'r' mode (file should be existing)
- write 'w' /append 'a' - write overrides the file, append adds it. If file doesnt exist it'll be created

In [4]:
try :
    fhand = open('mail.txt', 'w')
    line1 = "ON Sat, Nov 10, at 5:44 AM Binita Sajit <binita.s@aegis.edu.in> wrote"
    line2 = "ON Sat, Nov 10, at 4:37 AM Binita Sajit <binita.s@aegis.edu.in> wrote"
    line3 = "ON Sat, Nov 10, at 11:16 AM Binita Sajit <binita.s@aegis.edu.in> wrote"
    line4 = "ON Sat, Nov 10, at 10:45 AM Binita Sajit <binita.s@aegis.edu.in> wrote"
    fhand.write(line1 +'\n')
    fhand.write(line2 +'\n')
    fhand.write(line3 +'\n')
    fhand.write(line4 +'\n')
    fhand.close()
    fhand = open('mail.txt')
    fhand.read()
    fhand.close()
except : 
    print('File doesn\'t exist')

In [9]:
#Read a line in file

fhand = open('mail.txt')
for line in fhand :
    print(line)
fhand.close()

#type(line) will show type as string

ON Sat, Nov 10, at 5:44 AM Binita Sajit <binita.s@aegis.edu.in> wrote

ON Sat, Nov 10, at 4:37 AM Binita Sajit <binita.s@aegis.edu.in> wrote

ON Sat, Nov 10, at 11:16 AM Binita Sajit <binita.s@aegis.edu.in> wrote

ON Sat, Nov 10, at 10:45 AM Binita Sajit <binita.s@aegis.edu.in> wrote

In [15]:
#1. OPen file with cCSV

try :
    fhand = open('csv.txt', 'w')
    fhand.write('Shraddha, 345, IT\n')
    fhand.write('Sameer, 35, IT\n')
    fhand.write('Suyash, 5, MECH\n')
    fhand.write('Sagar, 5, CS\n')
    fhand.close
    fhand = open('csv.txt')
    count = 0
    for line in fhand :
        count += 1
        print(line.replace(',','|'))
    print('Total records is %d' %count)
    fhand.close()
    
    #add a new record
    fhand = open('csv.txt', 'a')
    fhand.write('Vidhi, 3, Eco\n')
    fhand.write('Shruti, 78, EnTC\n')
    fhand.close()
    
except :
    print('Invalid file')

Shraddha| 345| IT

Sameer| 35| IT

Suyash| 5| MECH

Sagar| 5| CS

Total records is 4

In [18]:
#3. count number of morning mails

try :
    fhand = open('MorningMail.txt', 'w')
    line1 = "ON Sat, Nov 10, at 5:44 AM Binita Sajit <binita.s@aegis.edu.in> wrote"
    line2 = "ON Sat, Nov 10, at 4:37 AM Binita Sajit <binita.s@aegis.edu.in> wrote"
    line3 = "ON Sat, Nov 10, at 11:16 PM Binita Sajit <binita.s@aegis.edu.in> wrote"
    line4 = "ON Sat, Nov 10, at 10:45 AM Binita Sajit <binita.s@aegis.edu.in> wrote"
    fhand.write(line1 +'\n')
    fhand.write(line2 +'\n')
    fhand.write(line3 +'\n')
    fhand.write(line4 +'\n')
    fhand.close()
    fhand = open('MorningMail.txt')
    count = 0
    for line in fhand :
        if line.find(' AM ') >= 0 :
        #if 'AM' in line :  alternate way
            count += 1
    print('Morning Mails conut : ', count)
    fhand.close()
except : 
    print('File doesn\'t exist')

Morning Mails conut :  3

In [22]:
#4. print in uppercase

try:
    fhand = open('csv.txt')
    for line in fhand :
        print(line.upper())
    fhand.close()
except:
    print('Invalid file')

SHRADDHA, 345, IT

SAMEER, 35, IT

SUYASH, 5, MECH

SAGAR, 5, CS

VIDHI, 3, ECO

SHRUTI, 78, ENTC

# Lists

- list index starts with 0

In [33]:
#Declaring Lists

#empty strings
lst = []
lst = list()
print(type(lst))

lst = [13, 'sdf', 435, 'Strings']
print(lst)

print('Length :', len(lst))

print(lst[3])
print(lst[1:2])

<class 'list'>
[13, 'sdf', 435, 'Strings']
Length : 4
Strings
['sdf']

In [2]:
list1 = [20, 15, 18, 10, 11, 22, 13]
l = len(list1)
for n in range(0,l) :
    list1[n] = list1[n]*2
    
print(list1)

[40, 30, 36, 20, 22, 44, 26]

In [12]:
#Concatenation

lst1 = [1, 2, 3, 4]
lst2 = ['a', 'b', 'c']
lst3 = lst1+lst2
print(lst3)

lst4 = lst1 #for repetiotionof string
print(lst4)

[1, 2, 3, 4, 'a', 'b', 'c']
[1, 2, 3, 4]

In [10]:
lst = [2, 4, [5, 6, [8, 9, [10, 12, 3], 4], 2], 1]

lst1 = [10, 11, [13,14,[20,23,24]]]
print(lst1[2][1])
print(lst1[2][2][2])

#3
print(lst[2][2][2][2])

14
24
3

In [24]:
#List functions

lst = [10, 15, 11]
lst.append(20)
print(lst)

lst.append([1,2,3])
print(lst)

lst[4].append(4)
print(lst)

#when values sent in extend..then individual elements added

lst.extend([1,2,3])
lst.extend([[23,24]])
print(lst)


#nested lists cannot be sorted
lst4 = [15, 11, 8, 24, 9, [15,10,8,9]]
lst4.sort()
print(lst4)

[10, 15, 11, 20]
[10, 15, 11, 20, [1, 2, 3]]
[10, 15, 11, 20, [1, 2, 3, 4]]
[10, 15, 11, 20, [1, 2, 3, 4], 1, 2, 3, [23, 24]]

TypeError: '<' not supported between instances of 'list' and 'int'

In [4]:
lst = [10, 33, 21, 15, 11]
lst.insert(1,99)
# 1 is index
print(lst)

lst.insert(3,[4,45])
print(lst)

[10, 99, 33, 21, 15, 11]
[10, 99, 33, [4, 45], 21, 15, 11]

- Deleting elements
    - remove
    - delt

In [17]:
lst = [7, 8, 4, 3, 8, 43, 32]

x = lst.pop(2)
print(x, 'has been deleted')

#after deleting
print(lst)

del lst[2]
print(lst)

lst.remove(43)
print(lst)
lst.remove(8)
#remove will delete the first occurence  in the list

lst = [7, 8, 4, 3, 8, 43, 32]
del lst[3:5]
print(lst)

print(max(lst))
print(min(lst))
print(sum(lst))

lst1 = ['a', 'b', 'c']
print(max(lst1))

4 has been deleted
[7, 8, 3, 8, 43, 32]
[7, 8, 8, 43, 32]
[7, 8, 8, 32]
[7, 8, 4, 43, 32]
43
4
94
c

In [18]:
#Converting string into a list

string = 'Python'
lst = list(string)
print(lst)

['P', 'y', 't', 'h', 'o', 'n']

In [24]:
string = 'Python for data science'

#String to list
lst = string.split()  #no delimeter hence blank
print(lst)

#list to string conversion
s = ' '.join(lst)
print(s)

['Python', 'for', 'data', 'science']
Python for data science

In [25]:
# List practice sums

lst = [5, 8, 10, '7', 9.5]
result = 1
for i in lst:
    if type(i) == int or type(i) == float :
        result *= i
print('Multiplication of elements : ', result)

Multiplication of elements :  3800.0

In [27]:
#2. count the given condition of strings

lst = ['abc', 'xyz', 'aba', '1221']
count = 0
for i in lst :
    if len(i)>=2 and i[0] == i[-1] :
        count += 1
print('Count : ', count)

Count :  2

In [28]:
#3. remove duplicates

lst = ['a', 'b', 'c', 'd', 'a', 'c', 'e', 'd']

#list to set
lst1 = set(lst)
print(lst1)

{'c', 'a', 'e', 'b', 'd'}

In [31]:
#3. remove duplicates using for loop

lst = ['a', 'b', 'c', 'd', 'a', 'c', 'e', 'd']
lst1 = []
for l in lst :
    if l not in lst1 :
        lst1.append(l)
        
print('New list : ', lst1)

New list :  ['a', 'b', 'c', 'd', 'e']

In [4]:
# list.index() to fetch the index

# 4. Program to remove even numbers from a list

list3 = [2, 4, 5, 3, 7, 6, 8, 4, 9]
list4 = list3
print(list4)
for l in list3:
    print('outer :', l)
    if l % 2 == 0 :
        print('inner :', l)
        list4.remove(l)
print(list4)

[2, 4, 5, 3, 7, 6, 8, 4, 9]
outer : 2
inner : 2
outer : 5
outer : 3
outer : 7
outer : 6
inner : 6
outer : 4
inner : 4
[5, 3, 7, 8, 4, 9]

In [5]:
#5. Difference of list

list1 = [2, 4, 5, 7, 6, 8]
list2 = [3, 4, 6, 7, 8, 1, 2]
list3 = []
index = 0
for l in list2 :
    if l not in list1 :
        list3.insert(index, l)
        index += 1
print(list3)

[3, 1]

In [13]:
#6. 
list1 = [4, 5, 3, 6, 7]
print('List : ', list1)
num = input('Enter element to search : ')
try :
    if num in list1 :
        print('Index of %s : %d' %(num, list1.index(int(num))))
    else :
        print('%s in not present in the list' %num)
except :
    print('Invalid number!')

List :  [4, 5, 3, 6, 7]
Enter element to search : 45
45 in not present in the list

In [15]:
#7. convert list of multiple numbers to single integer

list1 = [11, 25, 89]
resultString = ''
for l in list1 :
    resultString += str(l)
print(resultString)

112589

# Dictionaries

In [5]:
dch = {}
type(dch)

dict

In [6]:
dch = dict()
type(dch)

dict

In [7]:
dch = {1:'one', 2:'two'}

In [8]:
dch

{1: 'one', 2: 'two'}

In [11]:
#adding elements to dictionary

dch[3] = 'three'

In [10]:
dch

{1: 'one', 2: 'two', 3: 'three'}

In [12]:
#update

dch.update({4:'Four', 5:'Five'})

In [13]:
dch

{1: 'one', 2: 'two', 3: 'three', 4: 'Four', 5: 'Five'}

In [51]:
web_dict = {'person': 'a human being', 'marathon': 'a running race that is about 26 miles', 'resist': 'to remain strong against the force', 'run': 'to move with haste; act quickly'}
web_dict

#accessing the values
print('way 1 :', web_dict['marathon'])

print('way 2 :', web_dict.get('marathon'))

way 1 : a running race that is about 26 miles
way 2 : a running race that is about 26 miles

In [26]:
web_dict['shoes'] = 'footwear'
web_dict

{'person': 'a human being',
 'marathon': 'a running race that is about 26 miles',
 'resist': 'to remain strong against the force',
 'run': 'to move with haste; act quickly',
 'shoes': 'footwear'}

In [28]:
#updating key

web_dict['shoes'] = 'for footwear'
web_dict

{'person': 'a human being',
 'marathon': 'a running race that is about 26 miles',
 'resist': 'to remain strong against the force',
 'run': 'to move with haste; act quickly',
 'shoes': 'for footwear'}

In [29]:
web_dict['kit'] = 'accesory'

In [33]:
#deleting key - using del function

#del web_dict['kit']

#multiple
del web_dict['shoes'], web_dict['run']

In [34]:
web_dict

{'person': 'a human being',
 'marathon': 'a running race that is about 26 miles',
 'resist': 'to remain strong against the force'}

In [53]:
#dictionaries do not work with slicing

dch = {'Python' : 20, 'Statistics' : 15, 'Machine Learning' : 20, 'NLP' : 15}
print(len(dch))

4

In [37]:
dch.update({'Linear Algebra' : 5})

In [38]:
dch['Statistics']

15

In [39]:
dch.pop('Linear Algebra')

5

In [44]:
#key-value together called items

print(dch.items())

dict_items([('Python', 20), ('Statistics', 15), ('Machine Learning', 20), ('NLP', 15)])

In [45]:
#just the keys

dch.keys()

dict_keys(['Python', 'Statistics', 'Machine Learning', 'NLP'])

In [46]:
#just the values

dch.values()

dict_values([20, 15, 20, 15])

In [48]:
type(dch.keys())

dict_keys

In [49]:
dch.clear()

In [50]:
dch

{}

In [56]:
max(dch)

#by default max takes keys

print('MAx : ', max(dch.values()))

MAx :  20

In [57]:
#using dictionery count no. of characetrs

string = input('Enter a string : ')

dch = {}

for s in string :
    if s in dch :
        dch[s] += 1
    else :
        dch[s] = 1
print(dch)

Enter a string : google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [65]:
#word count in file mail.txt

fhand = open("mail.txt")
dch = {}
tempList = []

for line in fhand :
    tempList = line.split()
    for l in tempList :
        if l in dch :
            dch[l] += 1
        else :
            dch[l] = 1
    
print(dch)

{'ON': 4, 'Sat,': 4, 'Nov': 4, '10,': 4, 'at': 4, '5:44': 1, 'AM': 4, 'Binita': 4, 'Sajit': 4, '<binita.s@aegis.edu.in>': 4, 'wrote': 4, '4:37': 1, '11:16': 1, '10:45': 1}

In [79]:
#using maketranslate, translate to remove characters

import string

fhand = open("mail.txt")
dch = {}
tempList = []

for line in fhand :
    print('Line1 : ', line)
    trans = line.maketrans('', '', string.punctuation)
    line = line.translate(trans)
    print('trans :', line)

Line1 :  ON Sat, Nov 10, at 5:44 AM Binita Sajit <binita.s@aegis.edu.in> wrote

trans : ON Sat Nov 10 at 544 AM Binita Sajit binitasaegiseduin wrote

Line1 :  ON Sat, Nov 10, at 4:37 AM Binita Sajit <binita.s@aegis.edu.in> wrote

trans : ON Sat Nov 10 at 437 AM Binita Sajit binitasaegiseduin wrote

Line1 :  ON Sat, Nov 10, at 11:16 AM Binita Sajit <binita.s@aegis.edu.in> wrote

trans : ON Sat Nov 10 at 1116 AM Binita Sajit binitasaegiseduin wrote

Line1 :  ON Sat, Nov 10, at 10:45 AM Binita Sajit <binita.s@aegis.edu.in> wrote

trans : ON Sat Nov 10 at 1045 AM Binita Sajit binitasaegiseduin wrote

In [67]:
import string

print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [88]:
import operator
dch = { 100 : 'Hundreds', 10:'Tens', 1000:'Thousands' }
print('Original : ', dch)

#itemgetter 0 is for key, 1 is for value
#reverse = true is for descending, false for ascending
sorted_d = sorted(dch.items(), key=operator.itemgetter(0), reverse=False)
print('Sorted : ', sorted_d)

sorted_d = sorted(dch.items(), key=operator.itemgetter(1), reverse=False)
print('Sorted : ', sorted_d)

sorted_d = sorted(dch.items(), key=operator.itemgetter(0), reverse=True)
print('Sorted : ', sorted_d)

sorted_d = sorted(dch.items(), key=operator.itemgetter(1), reverse=True)
print('Sorted : ', sorted_d)

Original :  {100: 'Hundreds', 10: 'Tens', 1000: 'Thousands'}
Sorted :  [(10, 'Tens'), (100, 'Hundreds'), (1000, 'Thousands')]
Sorted :  [(100, 'Hundreds'), (10, 'Tens'), (1000, 'Thousands')]
Sorted :  [(1000, 'Thousands'), (100, 'Hundreds'), (10, 'Tens')]
Sorted :  [(1000, 'Thousands'), (10, 'Tens'), (100, 'Hundreds')]

# Programs - Dictioneries

In [90]:
#1. 

import operator

dch = {'Tim' : 18, 'Charlie' : 12, 'Tiffany' : 22, 'Robert' : 25}
sorted_d = sorted(dch.items(), key=operator.itemgetter(1), reverse=False)
print(sorted_d)

[('Charlie', 12), ('Tim', 18), ('Tiffany', 22), ('Robert', 25)]

In [92]:
#2. Add an item in dictionary

dch = {0: 10, 1: 20}
dch[2] = 30
print(dch)

{0: 10, 1: 20, 2: 30}

In [97]:
#3. Add dictioneries to make 1

dict1={1:10, 2:20}
dict2={3:30, 4:40} 
dict3={5:50,6:60}

dict1.update(dict2)
dict1.update(dict3)
print(dict1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [99]:
#4. Create dictionary to display square of  numbers

num = int(input('Enter a number : '))
dch = {}

for i in range(1,num+1) :
    dch[i] = i*i
    
print(dch)

Enter a number : 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [100]:
#5. multiply all items in a list

d={1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
keyResult = 1
valueResult = 1
for n in d.keys() :
    keyResult *= n
    valueResult *= d[n]

print('Key : %d Value : %d' %(keyResult, valueResult))


#Alternate ways

# for k,v in dch.items() :
#     k1 = k1*k
#     v1 = v1*v

Key : 3628800 Value : 13168189440000

In [104]:
#6. Add dictioneries common object

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = d2
for k,v in d1.items() :
    if k in d3 :
        d3[k] += v
    else :
        d3[k] = v
        
print('Output : ', d3)

Output :  {'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [109]:
#6. Alternate way - Add dictioneries common object

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = {}
for d in d1,d2 :
    for k,v in d.items():
        if k in d3 :
            d3[k] += v
        else :
            d3[k] = v
print('Output : ', d3)

Output :  {'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [116]:
lst = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, 	{"V":"S009"},{"VIII":"S007"}]
resultList = []
for item in lst :
    for v in item.values():
        resultList.append(v)
print(set(resultList))

{'S001', 'S009', 'S002', 'S007', 'S005'}

# Tuples
- tuples are immutable

In [117]:
t = ()
type(t)

tuple

In [118]:
t = tuple()
type(t)

tuple

In [120]:
#bracnket doesnt signify a tple, only comma separated value does

t = ('a')
type(t)

str

In [121]:
t = ('a', )
type(t)

tuple

In [122]:
t = 'a', 'b', 'c'
type(t)

tuple

In [126]:
#indexing

t[1]

'b'

In [127]:
#slicing

t[0:2]

('a', 'b')

In [125]:
len(t)

3

In [132]:
(0,1,2) < (0,3,4)

True

In [141]:
#1. Tuples

lst = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
lst1 = []
for l in lst :
    t = l[:-1] + (100,)
    lst1.append(t)
print(lst1)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [143]:
#2. 

d1 = {'a':10, 'b':1, 'c':22}
lst = []
for k,v in d1.items():
    t = (v, k)
    lst.append(t)
print(lst)

[(10, 'a'), (1, 'b'), (22, 'c')]

In [ ]:
Assignment Operations

In [4]:
list1 = [1,2,3,4]
list2 = list1
print(list1, list2)
list1[1] = 5
print(list1, list2)

#Slicing and concatenation changes the list location in memory
list2 = list1[:]
list1[1] = 60
print(list1, list2)

SyntaxError: invalid syntax (<ipython-input-4-8bac4a7bee9f>, line 11)

In [6]:
(1,3,4) < (1,3,5)

True