#### Execute the following in Jupyter notebook. Each question carries 2 marks.

Q1)  Read data from https://vincentarelbundock.github.io/Rdatasets/csv/Stat2Data/NCbirths.csv

Q2)  Print the shape of the data

Q3)  Print columns that contain null values with the number of null values in each.

Q4)  Print the rows that contain maximum number of NaN values

Q5)  Print the count of male and female babies

Q6)  Print the percentage of missing values in each column

Q7)  How many columns are dropped if we decide to eliminate columns that contain more than 1% of null values?
3
Q8)  How many rows are dropped if we decide to eliminate rows that contain more than 5% of null values?

Q9)  Print the dataframe by filling NaN values with the mean of the column

Q10) Print the dataframe using the back fill method

In [93]:
#DF1903_CM_09
#Name : Shraddha Dharmik

In [94]:
import pandas as pd
import numpy as np

In [95]:
#1. Read data from https://vincentarelbundock.github.io/Rdatasets/csv/Stat2Data/NCbirths.csv

df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/Stat2Data/NCbirths.csv')

In [96]:
#2. Print the shape of the data

df.shape

(1450, 16)

In [97]:
#3. Print columns that contain null values with the number of null values in each.

for col in df.columns :
    if df[col].isnull().sum() > 0 :
        print("{} : {} ".format(col,df[col].isnull().sum()))

Weeks : 1
Gained : 40
Smoke : 5

In [117]:
#4. Print the rows that contain maximum number of NaN values


index = -1
count = -1
for i in range(df.shape[0]) :
    if df.loc[i].isnull().sum() > count :
        count = df.loc[i].isnull().sum()
        index = i
        
print('Row with maximum null values : \n', df.loc[index])

#Alternate
df[df.isnull().sum(axis=1) == max(df.isnull().sum(axis=1))]

Row with maximum null values :
 Unnamed: 0          248
ID                  248
Plural                1
Sex                   1
MomAge               37
Weeks                37
Marital               1
RaceMom               1
HispMom               N
Gained              NaN
Smoke               NaN
BirthWeightOz       102
BirthWeightGm    2891.7
Low                   0
Premie                0
MomRace           white
Name: 247, dtype: object

In [99]:
#5. Print the count of male and female babies

print('Male Count : ', df[df['Sex'] == 1].shape[0])
print('Female Count : ', df[df['Sex'] == 2].shape[0])

Male Count :  744
Female Count :  706

In [32]:
#6. Print the percentage of missing values in each column

for col in df.columns :
    print("{} : {}% ".format(col, np.round((df[col].isnull().sum()/df.shape[0])*100, 2)))

Unnamed: 0 : 0.0%
ID : 0.0%
Plural : 0.0%
Sex : 0.0%
MomAge : 0.0%
Weeks : 0.07%
Marital : 0.0%
RaceMom : 0.0%
HispMom : 0.0%
Gained : 2.76%
Smoke : 0.34%
BirthWeightOz : 0.0%
BirthWeightGm : 0.0%
Low : 0.0%
Premie : 0.0%
MomRace : 0.0%

In [46]:
#7. How many columns are dropped if we decide to eliminate columns that contain more than 1% of null values?

count = 0
for col in df.columns :
    if np.round((df[col].isnull().sum()/df.shape[0])*100, 2) > 1 :
        count += 1
        
print('Columns greater than 1% that could be dropped : ', count)

Columns greater than 1% that could be dropped :  1

In [123]:
#8. How many rows are dropped if we decide to eliminate rows that contain more than 5% of null values?

count = 0
for i in range(df.shape[0]) :
    if (df.loc[i].isnull().sum() / df.shape[1])*100 > 5 :
        count += 1
        print('----Row----', df.loc[i])
print('Count : ', count)

----Row---- Unnamed: 0            58
ID                    58
Plural                 1
Sex                    2
MomAge                17
Weeks                 40
Marital                2
RaceMom                1
HispMom                N
Gained               NaN
Smoke                  0
BirthWeightOz        113
BirthWeightGm    3203.55
Low                    0
Premie                 0
MomRace            white
Name: 57, dtype: object
----Row---- Unnamed: 0          169
ID                  169
Plural                1
Sex                   2
MomAge               26
Weeks                39
Marital               1
RaceMom               1
HispMom               N
Gained              NaN
Smoke                 0
BirthWeightOz       106
BirthWeightGm    3005.1
Low                   0
Premie                0
MomRace           white
Name: 168, dtype: object
----Row---- Unnamed: 0            179
ID                    179
Plural                  1
Sex                     1
MomAge                 27
Weeks                  39
Marital                 1
RaceMom                 5
HispMom                 M
Gained                NaN
Smoke                   0
BirthWeightOz         136
BirthWeightGm      3855.6
Low                     0
Premie                  0
MomRace          hispanic
Name: 178, dtype: object
----Row---- Unnamed: 0          201
ID                  201
Plural                1
Sex                   1
MomAge               23
Weeks                39
Marital               1
RaceMom               1
HispMom               N
Gained              NaN
Smoke                 1
BirthWeightOz        94
BirthWeightGm    2664.9
Low                   0
Premie                0
MomRace           white
Name: 200, dtype: object
----Row---- Unnamed: 0          244
ID                  244
Plural                1
Sex                   2
MomAge               30
Weeks                38
Marital               2
RaceMom               1
HispMom               N
Gained              NaN
Smoke                 0
BirthWeightOz       108
BirthWeightGm    3061.8
Low                   0
Premie                0
MomRace           white
Name: 243, dtype: object
----Row---- Unnamed: 0            245
ID                    245
Plural                  1
Sex                     2
MomAge                 15
Weeks                  35
Marital                 2
RaceMom                 5
HispMom                 M
Gained                NaN
Smoke                   0
BirthWeightOz         120
BirthWeightGm        3402
Low                     0
Premie                  1
MomRace          hispanic
Name: 244, dtype: object
----Row---- Unnamed: 0          248
ID                  248
Plural                1
Sex                   1
MomAge               37
Weeks                37
Marital               1
RaceMom               1
HispMom               N
Gained              NaN
Smoke               NaN
BirthWeightOz       102
BirthWeightGm    2891.7
Low                   0
Premie                0
MomRace           white
Name: 247, dtype: object
----Row---- Unnamed: 0         255
ID                 255
Plural               1
Sex                  1
MomAge              19
Weeks               24
Marital              2
RaceMom              1
HispMom              N
Gained             NaN
Smoke                0
BirthWeightOz       20
BirthWeightGm      567
Low                  1
Premie               1
MomRace          white
Name: 254, dtype: object
----Row---- Unnamed: 0           304
ID                   304
Plural                 1
Sex                    1
MomAge                32
Weeks                 38
Marital                1
RaceMom                1
HispMom                N
Gained               NaN
Smoke                  0
BirthWeightOz        149
BirthWeightGm    4224.15
Low                    0
Premie                 0
MomRace            white
Name: 303, dtype: object
----Row---- Unnamed: 0           335
ID                   335
Plural                 1
Sex                    2
MomAge                16
Weeks                 36
Marital                2
RaceMom                1
HispMom                N
Gained               NaN
Smoke                  0
BirthWeightOz         85
BirthWeightGm    2409.75
Low                    1
Premie                 1
MomRace            white
Name: 334, dtype: object
----Row---- Unnamed: 0            367
ID                    367
Plural                  1
Sex                     1
MomAge                 22
Weeks                  39
Marital                 2
RaceMom                 5
HispMom                 S
Gained                NaN
Smoke                   0
BirthWeightOz         132
BirthWeightGm      3742.2
Low                     0
Premie                  0
MomRace          hispanic
Name: 366, dtype: object
----Row---- Unnamed: 0          461
ID                  461
Plural                1
Sex                   2
MomAge               35
Weeks                23
Marital               1
RaceMom               1
HispMom               N
Gained              NaN
Smoke                 0
BirthWeightOz        23
BirthWeightGm    652.05
Low                   1
Premie                1
MomRace           white
Name: 460, dtype: object
----Row---- Unnamed: 0            480
ID                    480
Plural                  1
Sex                     2
MomAge                 19
Weeks                  41
Marital                 1
RaceMom                 5
HispMom                 M
Gained                NaN
Smoke                   0
BirthWeightOz         111
BirthWeightGm     3146.85
Low                     0
Premie                  0
MomRace          hispanic
Name: 479, dtype: object
----Row---- Unnamed: 0           481
ID                   481
Plural                 1
Sex                    2
MomAge                37
Weeks                 38
Marital                1
RaceMom                1
HispMom                N
Gained               NaN
Smoke                  0
BirthWeightOz        119
BirthWeightGm    3373.65
Low                    0
Premie                 0
MomRace            white
Name: 480, dtype: object
----Row---- Unnamed: 0          492
ID                  492
Plural                2
Sex                   2
MomAge               26
Weeks                35
Marital               1
RaceMom               1
HispMom               N
Gained              NaN
Smoke                 0
BirthWeightOz        90
BirthWeightGm    2551.5
Low                   0
Premie                1
MomRace           white
Name: 491, dtype: object
----Row---- Unnamed: 0           530
ID                   530
Plural                 1
Sex                    2
MomAge                22
Weeks                 41
Marital                1
RaceMom                1
HispMom                N
Gained               NaN
Smoke                  0
BirthWeightOz        113
BirthWeightGm    3203.55
Low                    0
Premie                 0
MomRace            white
Name: 529, dtype: object
----Row---- Unnamed: 0           574
ID                   574
Plural                 1
Sex                    2
MomAge                35
Weeks                 38
Marital                1
RaceMom                1
HispMom                N
Gained               NaN
Smoke                  0
BirthWeightOz        115
BirthWeightGm    3260.25
Low                    0
Premie                 0
MomRace            white
Name: 573, dtype: object
----Row---- Unnamed: 0            581
ID                    581
Plural                  1
Sex                     1
MomAge                 35
Weeks                  37
Marital                 2
RaceMom                 5
HispMom                 M
Gained                NaN
Smoke                   0
BirthWeightOz          88
BirthWeightGm      2494.8
Low                     1
Premie                  0
MomRace          hispanic
Name: 580, dtype: object
----Row---- Unnamed: 0            682
ID                    682
Plural                  1
Sex                     1
MomAge                 25
Weeks                  34
Marital                 1
RaceMom                 5
HispMom                 M
Gained                NaN
Smoke                   0
BirthWeightOz         131
BirthWeightGm     3713.85
Low                     0
Premie                  1
MomRace          hispanic
Name: 681, dtype: object
----Row---- Unnamed: 0            687
ID                    687
Plural                  1
Sex                     2
MomAge                 37
Weeks                  36
Marital                 2
RaceMom                 5
HispMom                 M
Gained                NaN
Smoke                   0
BirthWeightOz          79
BirthWeightGm     2239.65
Low                     1
Premie                  1
MomRace          hispanic
Name: 686, dtype: object
----Row---- Unnamed: 0           722
ID                   722
Plural                 1
Sex                    1
MomAge                29
Weeks                 39
Marital                1
RaceMom                1
HispMom                N
Gained               NaN
Smoke                  0
BirthWeightOz        129
BirthWeightGm    3657.15
Low                    0
Premie                 0
MomRace            white
Name: 721, dtype: object
----Row---- Unnamed: 0          753
ID                  753
Plural                1
Sex                   1
MomAge               26
Weeks                39
Marital               1
RaceMom               1
HispMom               N
Gained              NaN
Smoke                 0
BirthWeightOz       146
BirthWeightGm    4139.1
Low                   0
Premie                0
MomRace           white
Name: 752, dtype: object
----Row---- Unnamed: 0           760
ID                   760
Plural                 1
Sex                    2
MomAge                32
Weeks                 39
Marital                1
RaceMom                1
HispMom                N
Gained               NaN
Smoke                  0
BirthWeightOz         89
BirthWeightGm    2523.15
Low                    0
Premie                 0
MomRace            white
Name: 759, dtype: object
----Row---- Unnamed: 0          798
ID                  798
Plural                1
Sex                   1
MomAge               31
Weeks                38
Marital               1
RaceMom               1
HispMom               N
Gained              NaN
Smoke               NaN
BirthWeightOz       130
BirthWeightGm    3685.5
Low                   0
Premie                0
MomRace           white
Name: 797, dtype: object
----Row---- Unnamed: 0           808
ID                   808
Plural                 1
Sex                    1
MomAge                26
Weeks                 41
Marital                1
RaceMom                1
HispMom                N
Gained               NaN
Smoke                  0
BirthWeightOz        123
BirthWeightGm    3487.05
Low                    0
Premie                 0
MomRace            white
Name: 807, dtype: object
----Row---- Unnamed: 0           885
ID                   885
Plural                 1
Sex                    1
MomAge                23
Weeks                 38
Marital                1
RaceMom                1
HispMom                N
Gained               NaN
Smoke                  1
BirthWeightOz        131
BirthWeightGm    3713.85
Low                    0
Premie                 0
MomRace            white
Name: 884, dtype: object
----Row---- Unnamed: 0            893
ID                    893
Plural                  1
Sex                     2
MomAge                 22
Weeks                  35
Marital                 1
RaceMom                 5
HispMom                 M
Gained                NaN
Smoke                   0
BirthWeightOz         136
BirthWeightGm      3855.6
Low                     0
Premie                  1
MomRace          hispanic
Name: 892, dtype: object
----Row---- Unnamed: 0            929
ID                    929
Plural                  1
Sex                     1
MomAge                 24
Weeks                  40
Marital                 1
RaceMom                 5
HispMom                 P
Gained                 47
Smoke                 NaN
BirthWeightOz         149
BirthWeightGm     4224.15
Low                     0
Premie                  0
MomRace          hispanic
Name: 928, dtype: object
----Row---- Unnamed: 0          989
ID                  989
Plural                1
Sex                   1
MomAge               27
Weeks                39
Marital               1
RaceMom               1
HispMom               N
Gained              NaN
Smoke                 0
BirthWeightOz       110
BirthWeightGm    3118.5
Low                   0
Premie                0
MomRace           white
Name: 988, dtype: object
----Row---- Unnamed: 0          995
ID                  995
Plural                1
Sex                   1
MomAge               20
Weeks                42
Marital               2
RaceMom               1
HispMom               N
Gained              NaN
Smoke               NaN
BirthWeightOz        96
BirthWeightGm    2721.6
Low                   0
Premie                0
MomRace           white
Name: 994, dtype: object
----Row---- Unnamed: 0           1002
ID                   1002
Plural                  1
Sex                     1
MomAge                 18
Weeks                  42
Marital                 2
RaceMom                 5
HispMom                 M
Gained                NaN
Smoke                   0
BirthWeightOz         116
BirthWeightGm      3288.6
Low                     0
Premie                  0
MomRace          hispanic
Name: 1001, dtype: object
----Row---- Unnamed: 0           1022
ID                   1022
Plural                  1
Sex                     1
MomAge                 24
Weeks                  39
Marital                 1
RaceMom                 5
HispMom                 M
Gained                NaN
Smoke                   0
BirthWeightOz         134
BirthWeightGm      3798.9
Low                     0
Premie                  0
MomRace          hispanic
Name: 1021, dtype: object
----Row---- Unnamed: 0           1054
ID                   1054
Plural                  1
Sex                     2
MomAge                 30
Weeks                  41
Marital                 1
RaceMom                 5
HispMom                 M
Gained                NaN
Smoke                   0
BirthWeightOz         117
BirthWeightGm     3316.95
Low                     0
Premie                  0
MomRace          hispanic
Name: 1053, dtype: object
----Row---- Unnamed: 0          1073
ID                  1073
Plural                 1
Sex                    2
MomAge                17
Weeks                 40
Marital                2
RaceMom                2
HispMom                N
Gained               NaN
Smoke                  0
BirthWeightOz        121
BirthWeightGm    3430.35
Low                    0
Premie                 0
MomRace            black
Name: 1072, dtype: object
----Row---- Unnamed: 0         1118
ID                 1118
Plural                1
Sex                   1
MomAge               20
Weeks               NaN
Marital               2
RaceMom               2
HispMom               N
Gained              NaN
Smoke                 0
BirthWeightOz       136
BirthWeightGm    3855.6
Low                   0
Premie                1
MomRace           black
Name: 1117, dtype: object

----Row---- Unnamed: 0          1138
ID                  1138
Plural                 1
Sex                    1
MomAge                26
Weeks                 38
Marital                1
RaceMom                2
HispMom                N
Gained               NaN
Smoke                  0
BirthWeightOz        107
BirthWeightGm    3033.45
Low                    0
Premie                 0
MomRace            black
Name: 1137, dtype: object
----Row---- Unnamed: 0         1207
ID                 1207
Plural                1
Sex                   1
MomAge               20
Weeks                37
Marital               1
RaceMom               2
HispMom               N
Gained              NaN
Smoke               NaN
BirthWeightOz        94
BirthWeightGm    2664.9
Low                   0
Premie                0
MomRace           black
Name: 1206, dtype: object
----Row---- Unnamed: 0         1363
ID                 1363
Plural                1
Sex                   1
MomAge               18
Weeks                39
Marital               2
RaceMom               2
HispMom               N
Gained              NaN
Smoke                 0
BirthWeightOz       102
BirthWeightGm    2891.7
Low                   0
Premie                0
MomRace           black
Name: 1362, dtype: object
----Row---- Unnamed: 0         1386
ID                 1386
Plural                2
Sex                   1
MomAge               27
Weeks                33
Marital               2
RaceMom               2
HispMom               N
Gained              NaN
Smoke                 1
BirthWeightOz        66
BirthWeightGm    1871.1
Low                   1
Premie                1
MomRace           black
Name: 1385, dtype: object
----Row---- Unnamed: 0         1393
ID                 1393
Plural                1
Sex                   1
MomAge               21
Weeks                40
Marital               1
RaceMom               2
HispMom               N
Gained              NaN
Smoke                 0
BirthWeightOz       122
BirthWeightGm    3458.7
Low                   0
Premie                0
MomRace           black
Name: 1392, dtype: object
----Row---- Unnamed: 0         1429
ID                 1429
Plural                1
Sex                   2
MomAge               33
Weeks                39
Marital               1
RaceMom               8
HispMom               N
Gained              NaN
Smoke                 0
BirthWeightOz       106
BirthWeightGm    3005.1
Low                   0
Premie                0
MomRace           other
Name: 1428, dtype: object
Count :  41

In [66]:
#9. Print the dataframe by filling NaN values with the mean of the column

for col in df.columns :
    if df[col].isnull().sum()/df.shape[0] > 0 :
        df[col].fillna(df[col].mean())

In [36]:
#10. Print the dataframe using the back fill method

df.fillna(method='bfill')

,Unnamed: 0,ID,Plural,Sex,MomAge,Weeks,Marital,RaceMom,HispMom,Gained,Smoke,BirthWeightOz,BirthWeightGm,Low,Premie,MomRace
0,1,1,1,1,32,40.0,1,1,N,38.0,0.0,111,3146.85,0,0,white
1,2,2,1,2,32,37.0,1,1,N,34.0,0.0,116,3288.60,0,0,white
2,3,3,1,1,27,39.0,1,1,N,12.0,0.0,138,3912.30,0,0,white
3,4,4,1,1,27,39.0,1,1,N,15.0,0.0,136,3855.60,0,0,white
4,5,5,1,1,25,39.0,1,1,N,32.0,0.0,121,3430.35,0,0,white
5,6,6,1,1,28,43.0,1,1,N,32.0,0.0,117,3316.95,0,0,white
6,7,7,1,2,25,39.0,1,1,N,75.0,0.0,143,4054.05,0,0,white
7,8,8,1,2,15,42.0,2,1,N,25.0,0.0,113,3203.55,0,0,white
8,9,9,1,2,21,39.0,1,1,N,28.0,0.0,120,3402.00,0,0,white
9,10,10,1,2,27,40.0,2,1,N,37.0,0.0,124,3515.40,0,0,white
10,11,11,1,1,26,41.0,1,1,N,45.0,0.0,121,3430.35,0,0,white
11,12,12,1,2,20,41.0,2,1,N,52.0,1.0,112,3175.20,0,0,white
12,13,13,1,2,19,40.0,1,1,N,26.0,1.0,131,3713.85,0,0,white
13,14,14,1,2,18,36.0,2,5,P,31.0,1.0,88,2494.80,1,1,hispanic
14,15,15,1,2,26,39.0,2,1,N,40.0,0.0,93,2636.55,0,0,white
15,16,16,1,1,24,40.0,1,5,M,51.0,0.0,140,3969.00,0,0,hispanic
16,17,17,1,1,24,38.0,1,1,N,45.0,1.0,105,2976.75,0,0,white
17,18,18,1,1,36,37.0,1,1,N,25.0,0.0,91,2579.85,0,0,white
18,19,19,1,1,21,30.0,1,1,N,0.0,0.0,51,1445.85,1,1,white
19,20,20,1,1,21,38.0,1,5,P,20.0,0.0,72,2041.20,1,0,hispanic
20,21,21,1,2,26,39.0,1,1,N,20.0,0.0,116,3288.60,0,0,white
21,22,22,1,2,30,38.0,1,1,N,38.0,0.0,114,3231.90,0,0,white
22,23,23,1,2,32,43.0,2,5,M,15.0,0.0,114,3231.90,0,0,hispanic
23,24,24,1,2,34,38.0,1,1,N,3.0,0.0,108,3061.80,0,0,white
24,25,25,1,2,24,37.0,2,5,M,9.0,0.0,123,3487.05,0,0,hispanic
25,26,26,1,1,34,37.0,1,1,N,37.0,0.0,119,3373.65,0,0,white
26,27,27,1,2,24,39.0,2,1,N,30.0,0.0,122,3458.70,0,0,white
27,28,28,1,2,25,39.0,1,1,N,40.0,0.0,134,3798.90,0,0,white
28,29,29,1,1,22,41.0,2,5,S,37.0,0.0,120,3402.00,0,0,hispanic
29,30,30,1,2,24,37.0,1,1,N,56.0,0.0,121,3430.35,0,0,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1420,1421,1421,1,2,28,40.0,2,3,N,30.0,0.0,141,3997.35,0,0,other
1421,1422,1422,1,2,27,40.0,2,3,N,60.0,1.0,123,3487.05,0,0,other
1422,1423,1423,1,1,30,40.0,1,3,S,56.0,0.0,142,4025.70,0,0,other
1423,1424,1424,1,2,16,38.0,2,3,N,20.0,0.0,112,3175.20,0,0,other
1424,1425,1425,1,2,32,37.0,1,4,N,45.0,0.0,117,3316.95,0,0,other
1425,1426,1426,1,1,30,39.0,1,4,N,45.0,0.0,135,3827.25,0,0,other
1426,1427,1427,1,2,37,40.0,1,7,N,33.0,0.0,97,2749.95,0,0,other
1427,1428,1428,1,2,37,41.0,1,8,N,31.0,0.0,139,3940.65,0,0,other
1428,1429,1429,1,2,33,39.0,1,8,N,50.0,0.0,106,3005.10,0,0,other
1429,1430,1430,1,1,26,39.0,2,8,N,50.0,0.0,139,3940.65,0,0,other
1430,1431,1431,1,1,30,39.0,1,8,N,29.0,0.0,121,3430.35,0,0,other
1431,1432,1432,1,1,37,41.0,1,8,N,41.0,0.0,122,3458.70,0,0,other
1432,1433,1433,1,2,27,41.0,1,8,N,22.0,0.0,125,3543.75,0,0,other
1433,1434,1434,1,2,20,36.0,1,8,N,35.0,0.0,134,3798.90,0,1,other
1434,1435,1435,1,1,20,40.0,2,8,N,25.0,0.0,138,3912.30,0,0,other
1435,1436,1436,1,1,40,41.0,1,8,N,27.0,0.0,115,3260.25,0,0,other
1436,1437,1437,1,1,36,39.0,1,8,N,26.0,0.0,130,3685.50,0,0,other
1437,1438,1438,1,1,20,42.0,2,8,N,40.0,0.0,140,3969.00,0,0,other
1438,1439,1439,1,1,35,40.0,1,8,N,38.0,0.0,144,4082.40,0,0,other
1439,1440,1440,1,2,30,38.0,1,8,N,42.0,0.0,105,2976.75,0,0,other
1440,1441,1441,1,1,31,38.0,1,8,N,40.0,0.0,133,3770.55,0,0,other
1441,1442,1442,1,2,35,38.0,1,8,N,20.0,0.0,110,3118.50,0,0,other
1442,1443,1443,1,2,16,36.0,1,8,N,23.0,0.0,94,2664.90,0,1,other
1443,1444,1444,1,2,20,39.0,2,8,N,15.0,0.0,105,2976.75,0,0,other
1444,1445,1445,1,2,17,39.0,2,8,N,30.0,0.0,96,2721.60,0,0,other
1445,1446,1446,1,2,24,45.0,1,8,N,55.0,0.0,133,3770.55,0,0,other
1446,1447,1447,1,2,32,38.0,1,8,N,35.0,0.0,95,2693.25,0,0,other
1447,1448,1448,1,2,32,40.0,1,8,N,29.0,0.0,123,3487.05,0,0,other
1448,1449,1449,1,1,30,32.0,1,8,N,30.0,0.0,70,1984.50,1,1,other
1449,1450,1450,1,2,40,42.0,1,8,N,32.0,0.0,120,3402.00,0,0,other